body {
    background-color: royalblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
} 

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

.post-header {
    background-color: royalblue;
    margin: 10px;
    padding: 5px;
    flex-grow: 1;
    margin-bottom: 15px;
}

.post-title {
    font-size: 2em;
    margin-left: 5px;
}

.content {
    padding: 5px;
    background-color: white;
    border-color: royalblue;
    border-style: solid;
    border-width: 10px;
    flex-grow: 1;
    align-self: stretch;
    flex-direction: column;
    display: flex;
}

.blog-title {
    font-size: 1.3em;
    padding: 5px;
    font-family: sans-serif;
    text-decoration: underline overline;
    background-color: royalblue;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.search-tag-list {
    background-color: royalblue;
    font-size: 1.5em;
    color: white;
    font-family: sans-serif;
    padding: 5px;
}

.post-tags-list {
    margin: 0 5px;
    width: 70%;
    font-family: sans-serif;
    color: lavender;
}

.tags-word {
    font-style: italic;
}

.datetime {
    margin-left: 10px;
    font-family: sans-serif;
    background-color: lightsteelblue;
}

.page-switcher-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
}

.page-switcher {
    font-family: sans-serif;
    font-size: 1.2em;
    background-color: royalblue;
    padding: 5px;
    margin-bottom: 0;
    color: white;
}

.switch-button {
    margin: 0 10px;
}

.admin-title {
    background-color: royalblue;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 0 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-list {
    display: flex;
    flex-direction: column;
    
}  

.post-body-field {
    resize: vertical;
    padding: 3px;
    flex-grow: 1;
}

.submit-form {
    font-size: 2em;
    margin: 10px 20px;
    background-color: royalblue;
    border: solid 2px;
    color: white;
    padding: 3px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    font-family: sans-serif;
    font-size: 1.7em;
    align-items: flex-end;
    color: white;
    padding: 5px;
}

.submit-form:hover {
    color: red;
}

.action {
    background-color: royalblue;
    font-family: sans-serif;
    font-size: 2em;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

.post-form {
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}

.body-field {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
}

.field {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.label {
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
}

.tag-search {
    border: solid 2px;
    padding: 3px;
}

.admin-auth {
    font-size: 0.8em;
    text-align: end;
}

@media screen and (min-width: 800px) {
    .content {
        width: 85%;
        align-self: center;
    }
    .header {
        width: 85%;
        align-self: center;
    }
}


@media screen and (min-width: 1100px) {
    .content {
        width: 70%;
    }
    .header {
        width: 70%;
    }

}

@media screen and (min-width: 1400px) {
    .content {
        width: 50%;
    }
    .header {
        width: 50%;
    }
}
