{{define "content"}}
<div class="admin-title">ADMIN PAGE</div>
<div class="action-list">
    <a href="/blog/admin/create" class="action">CREATE NEW POST</a>
    <a data-base-url="/blog/admin/change" class="action">CHANGE POST</a>
    <a data-base-url="/blog/admin/remove" class="action">REMOVE POST</a>
</div>
<script>
    for (let elem of document.querySelectorAll("[data-base-url]")) {
        elem.onclick = function() {
            let number = prompt("Post number:")
            location.href = elem.dataset.baseUrl + "/" + number;
        }
    }
</script>
{{end}}
