<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/blog/static/style.css">
    <title>{{.Title}}</title>
</head>

<body>
    <div class="header">
        <a class="tag-search">TAG SEARCH</a>
        <a class="blog-title" href="{{ getURL "postList" "page" "1" }}">{{blogTitle}}</a>
        <a class="admin-auth" href="{{ getURL "auth" }}">I'M ADMIN</a>
    </div>
    <div class="content">
        {{block "content" .}}{{end}}
    </div>
    <script>
        let tagSearch = document.querySelector(".tag-search");
        tagSearch.onclick = function() {
            let tags = prompt("Tags: ");
            if (tags == null) {
                return
            }   
            location.href = "{{ getURL "postList" "page" "1" }}?tags=" + encodeURIComponent(tags);
        }
    </script>
</body>

</html>
