{{define "content"}}
<div class="admin-title">{{ template "admin-title" }}</div>
<form class="post-form" autocomplete="off" method="post">
    <div class="field">
        <div class="label">Title:</div>
        <input type="text" name="title" value="{{.Form.Title}}" />
    </div>
    <div class="field">
        <div class="label">Tags:</div>
        <input type="text" name="tags" class="post-form-tags" value="{{.Form.Tags}}"/>
    </div>
    <div class="field body-field">
        <div class="label">Body:</div>
        <textarea name="body" class="post-body-field">{{.Form.Body}}</textarea>
    </div>

    <input type="submit" value="{{ template "button-text" }}" class="submit-form">
</form>
{{end}}
