{{define "post-header"}}
<a href="{{ getURL "post" "id" (printf "%v" .ID) }}" class="post-header">
		<div><span class="datetime">{{.TimePublished.Local.Format "02-01-2006 15:04 MST"}}</span></div>
		<div class="post-title">{{.Title}}</div>
		<div class="post-tags-list"><span class="tags-word">TAGS: </span>{{join .Tags " "}}</div>
</a>
{{end}}
